# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Env / secrets
.env
*.env

# DuckDB files
*.db
*.db.wal

# Data files
*.parquet
*.csv
*.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
